---
import Layout from "../layouts/Layout.astro";
---

<Layout title={"水果"}>
  <div class='container ds-home'>
    <h1 style='color:#fff;'>页面装修中...</h1>
  </div>
</Layout>

<style lang='scss' scoped>
  .ds-home {
    display: flex;
    // width: 100%;
    min-height: 1000px;
  }
</style>
