---
const navs = [
  {
    path: "home",
    name: "首页",
  },
  {
    path: "team",
    name: "团队介绍",
  },
  {
    path: "about",
    name: "关于",
  },
];
---

<div class='ds-header container'>
  <a href='/home' class='ds-logo'>
    <img src='/logo.png' alt='吃货指南' class='ds-logo-img' />
  </a>
  <ul class='ds-navs'>
    {
      navs.map((item) => {
        <li class='ds-nav'>
          <a href={item.path} class='ds-logo'>
            {item.name}
          </a>
        </li>;
      })
    }
  </ul>
</div>

<style lang='scss'>
  .ds-header {
    position: sticky;
    top: 0px;
    $height: 60px;
    height: $height;
    display: flex;
    justify-content: space-between;
    z-index: 9;
    .ds-logo {
      padding: 5px;
      .ds-logo-img {
        width: $height - 10px;
      }
    }
    .ds-navs {
      margin: 0;
      padding: 0;
      height: 100%;
      width: fit-content;
      display: flex;
      .ds-nav {
        padding: 0 15px;
        color: #fff;
        list-style: none;
        line-height: $height;
        cursor: pointer;
      }
    }
  }
</style>
